.slider{
    text-align: center;
    text-decoration: none;
}
.bg-c-dark{
    color: rgb(185, 141, 59);
  
  }
  .section{
    padding-top: 40px;
    padding-bottom: 40px;
  }

.flex_container {
    display: flex;
    position: relative;
}

.flex_child {
    flex:1;
    position: relative;
}
.gbtn{
  background: rgb(210,149,55);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}