.slider{
    text-align: center;
    text-decoration: none;
}
.bg-c-dark{
    color: rgb(185, 141, 59);
}
.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
.grid_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid_child{
  margin-right: 151px;
}
.gbtn{
  background: rgb(210,149,55);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
.lgn_btn{
  color: rgb(243, 239, 239);
  width: 250px;
  padding: 15px;
  border: 1px solid rgb(238, 227, 227);
  border-radius:3px;
}
.lgn{
  background: rgb(210,149,55);
  padding: 65px;
}
.lgn_btn:hover{
color: rgb(210,149,55);
background: white;
}
.login_btn{
  background: none;
}
.childbg{
  margin-top: 25%;
  /* margin-right: 15%; */
  width: 100%;
}
.container{
  position: relative;
  text-align: center;
}
.img_left{
  position: absolute;
  top:15%;
  color: white;
  padding: 15px;
}
.float_container{
  border: 1px solid green;
  background: rgb(210,149,55);
  padding: 25px;
}
.float_child{
  width: 50%;
  float: left;
  margin-left: 50px;
}
.cnt_container{
  display: flex;
}
.cnt_child{
  margin-left: 50px;
  color: white;
  padding: 50px;
}
/* styling for client content */