/* h2,h3,p{
    color: rgb(151, 146, 146);
    margin-left: 18%;
    margin-right: 18%;
    line-height: 1.8;
    padding: 15px;
}
h3,h2,strong{
    color: black;
} */
/* While styling the paragraphs the css content in the abouts page is disturbed  */